<footer class="page-footer font-small pt-4">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4">
        <h1>My Reddit</h1>
        <hr class="light">
        <h6>A clone of reddit</h6>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Quick Links</h5>
        <hr class="light">
        <small><a href="#">Link - 1</a></small><br>
        <small><a href="#">Link - 2</a></small><br>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Links Head</h5>
        <hr class="light">
        <small><a href="#">Link - 1</a></small><br>
        <small><a href="#">Link - 2</a></small><br>
      </div>
      <hr class="light-diff">
    </div>

    <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:&nbsp;&nbsp;
        <a href="#">127.0.0.1:8000</a>
      </div>
    <!-- Copyright -->
  </div>
</footer>
