{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	<title>Crime - Password reset</title>
{% endblock title %}

{% block content %}
<br>
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="boreder-bottom mb-4">Reset Password</legend>
					{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<input class="btn btn-outline-info" type="submit" name="Sign Up" value="Request Password Reset">
			</div>
		</form>
	</div>
{% endblock content %}
